body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .App {
    text-align: center;
  }
  
  .logo {
    height: 40vmin;
    pointer-events: none;
  }